<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Update your Spotify playlists to use Taylor Swift's latest releases under her own label.">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">

    <meta property="og:title" content="Taylor's Version"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="<%= appUrl %>"/>
    <meta property="og:image" content="<%= appUrl %>/img_preview.png"/>

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@Roshanbhumbra"/>
    <meta name="twitter:title" content="Taylor's Version playlist updater"/>
    <meta name="twitter:description"
          content="Update your Spotify playlists to use Taylor Swift's latest releases under her own label."/>
    <meta name="twitter:image" content="<%= appUrl %>/img_preview.png"/>

    <title>(Taylor's Version)</title>
</head>
<body>
<div id="container"></div>
</body>
</html>