<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		  content="Update your Spotify playlists to use Taylor Swift's latest releases under her own label.">

	<meta property="og:title" content="Taylor's Version"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="https://taylors-version.com"/>

	<title>(Taylor's Version)</title>

	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:site" content="@Roshanbhumbra"/>
	<meta name="twitter:title" content="Taylor's Version playlist updater"/>
	<meta name="twitter:description"
		  content="Update your Spotify playlists to use Taylor Swift's latest releases under her own label."/>
	<meta name="twitter:image" content="<%= appUrl %>/img_preview.png"/>
</head>
<body>
<div id="container"></div>
</body>
</html>